<div class="row large-7 medium-9 columns">
  <div class="blog__post">
    <h1>Arsenal will have to settle for top four this season, says Alan Smith</h1>
    <p>22/12/2016</p>
    <div class="card">
      <img src="/images/thumbnail.jpg">
      <div class="card-section">
        <p>Alan Smith believes Arsenal will once again miss out on the Premier League title</p>
      </div>
    </div>
    <p class="bold">Arsenal's tendency to come up short in big matches will ultimately cost them in the Premier League title race this season, according to Sky Sports pundit Alan Smith.</p>
    <p>The Gunners have lost their past two matches away at Everton and Manchester City and sit in fourth place, nine points behind leaders Chelsea.</p>
    <p>Smith says such slip-ups from Arsenal only go to highlight the deficiencies within Arsene Wenger's squad, but still backed them to finish in the top four.</p>
    <div class="card">
      <img src="/images/thumbnail2.jpg">
      <div class="card-section">
        <p>Raheem Sterling grabbed the winner for Manchester City, condemning Arsenal to second successive defeat</p>
      </div>
    </div>
    <a href="#subscribe-modal" class="button expanded open-modal">Subscribe To Footy Alerts</a>
  </div>
  <p>"They've got a run of games, where you can see them winning every single one, the next four, five, six and maybe they'll close the gap on Chelsea," Smith, who scored 115 goals during his eight years at Arsenal, told Premier League Daily.</p>
  <p>"It's these matches (versus Man City and other title rivals) where they do let themselves down and that's what makes you think they're not genuine title contenders.</p>
  <p>"They'll be up there, probably finish in the top four, but when push comes to shove, they're still lacking.</p>
  <p>...</p>
</div>
<div id="subscribe-modal" style="display:none">
  <div class="row large-4 medium-6 columns">
    <div class="row subscribe-modal">
      <div class="medium-12 columns header">
        <span class="title">Subscribe</span>
        <span class="close-modal">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
        </span>
      </div>
      <div class="medium-12 columns body">
        <p>Subscribe to Footy Alerts at <b>10KES/day</b><br>You can also subscribe by texting the word <b>kuku</b> to <b>22384</b></p>
        <p></p>
        <form class="js-subscribe-form" method="POST" action="/subscribe">
          <div class="row">
            <div class="medium-12 columns">
              <label>Phone Number</small>
                <input class="js-phone-number" type="text" placeholder="07xx xxx xxx">
              </label>
            </div>
            <div class="medium-12 columns">
              <input class="js-terms" type="checkbox" id="agree" value="agreed" name="agree" />
              <label for="agree">
                I agree to the Footy Alerts <a href="#">Terms of Service</a>
              </label>
            </div>
            <div class="medium-12 columns error-wrapper js-error-wrapper">
            </div>
            <div class="medium-12 columns">
              <button type="submit" class="js-submit-form button expanded">Subscribe</button>
            </div>
            <div class="medium-12 columns response-wrapper js-response-wrapper">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
