<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/foundation.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
	</head>
  <body>
    <header class="header__wrapper">
      <div class="row">
        <div class="medium-12 columns main clearfix">
          <a class="float-left logo" href="#">Footy Alerts</a>
          <a class="float-right menu__link" href="#">Menu Item</a>
          <a class="float-right menu__link" href="#">Menu Item</a>
        </div>
      </div>
    </header>
    <div class="content__wrapper">
      {{{body}}}
    </div>
    <footer class="footer__wrapper">
      <div class="row">
        <div class="medium-12 columns main clearfix">
          <p>This article is from <a target="_blank" href="http://www.skysports.com">sky sports</a>. Full article <a target="_blank" href="http://www.skysports.com/football/news/16298/10704918/arsenal-will-have-to-settle-for-top-four-this-season-says-alan-smith">here</a></p>
        </div>
    </footer>
    <!-- Modal container -->
    <div class="modal">
      <div class="modal-inner">
        <div class="modal-content"></div>
      </div>
    </div>
    <script src="/javascripts/vanilla-modal.js"></script>
    <script src="/javascripts/site.js"></script>
  </body>
</html>
