.header__wrapper {
  background-color: #0c3d5d;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header__wrapper .main {
  height: 5.5rem;
}

.header__wrapper .logo:link,
.header__wrapper .logo:visited,
.header__wrapper .logo:hover,
.header__wrapper .logo:active{
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-top: 1.7rem;
}

.header__wrapper .menu__link:not(:last-child){
  margin-left: 1rem;
}

.header__wrapper .menu__link:link,
.header__wrapper .menu__link:visited,
.header__wrapper .menu__link:hover,
.header__wrapper .menu__link:active{
  color: #fff;
  margin-top: 2rem;
}

.content__wrapper{
  margin-top: 7.5rem;
}

.subscribe>h3{
  font-size: 1rem;
  font-weight: bold;
}

.footer__wrapper {
  background-color: #0c3d5d;
  width: 100%;
  margin-top: 3rem;
}

.footer__wrapper .main{
  padding: 1rem 0;
}

.footer__wrapper .main p{
  text-align: center;
  color: #fff;
}

.footer__wrapper .main p a:link,
.footer__wrapper .main p a:visited,
.footer__wrapper .main p a:hover,
.footer__wrapper .main p a:active{
  color: #fff;
  text-decoration: underline;
}

/*--- Subscribe Modal ---*/

.subscribe-modal{
  margin-top: 4rem;
}

.subscribe-modal .header{
  padding-top: .9375rem;
  padding-bottom: .9375rem;
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #c3c3c3;
}

.subscribe-modal .header .title{
  font-size: 36px;
  font-weight: 300;
  color: #636363;
}

.subscribe-modal .header .close-modal{
  height: 24px;
  display: block;
  position: absolute;
  right: .9375rem;
  top: 50%;
  transform: translateY(-50%);
}

.subscribe-modal .header .close-modal svg{
  height: 100%;
  fill: #a9a9a9;
  transition: fill .3s cubic-bezier(0,0,.3,1);
}

.subscribe-modal .header .close-modal:hover svg{
  fill: #636363;
}

.subscribe-modal .body{
  padding: .9375rem;
  background-color: #fafafa;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  font-size: 16px;
}

.subscribe-modal button{
  color: #fff !important;
}

.subscribe-modal .error-wrapper{
  padding-bottom: 1rem;
}

.subscribe-modal .error-wrapper span{
  display: block;
  color: #cc4b37;
  font-size: .8rem;
}

.subscribe-modal .response-wrapper{
  padding-bottom: 1rem;
}

.subscribe-modal .response-wrapper span{
  display: block;
  font-size: .8rem;
}

.subscribe-modal .response-wrapper span.error{
  color: #cc4b37;
}

/*===============================
  VANILLA MODAL
================================*/

.vanilla-modal .modal {
  display: block;
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.6);
  /*background: rgba(232,237,237,.95);*/
  z-index: -1;
  opacity: 0;
  font-size: 0;
  transition: opacity 0.2s, z-index 0s 0.2s;
  overflow: hidden;
  overflow-y: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.vanilla-modal .modal > * {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
}

.vanilla-modal .modal:before {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.vanilla-modal.modal-visible .modal {
  z-index: 3000;
  opacity: 1;
  transition: opacity 0.2s;
}

.modal-inner {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
}

.modal-visible .modal-inner {
  z-index: 100;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s, transform 0.2s;
}

.modal-visible .modal-content{
	height: 100%;
	width: 100%;
	position: relative;
}

.close-modal{
  position: absolute;
  z-index: 200;
  right: 8px;
  top: 8px;
  width: 24px;
  height: 24px;
  display: none;
  cursor: pointer;
  background: transparent;
}

.close-modal svg{
  fill: #ffffff;
  pointer-events: none;
  position: relative;
  left: 50%;
  top: 50%;
  height: 24px;
  transform: translateX(-50%) translateY(-50%);
}

.modal-visible .modal-close{
  display: block;
}

.vanilla-modal .modal.no-manual-close .modal-close{
  display: none;
}

/*===============================
  END OF VANILLA MODAL
================================*/
